/* CSS for the registration form page */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-floating {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  
  p {
    margin-top: 20px;
  }
  
  a {
    color: blue;

    text-decoration: none;
  }
  h5 mb-3 fw-normal{
    text-align: center;


  }