html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#d6ad81;
}
nav{
  background: #151616;
  height: 70px;
  width: 100%;

}
li.nav-item{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul li{
 
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  
}
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this value to center the button vertically */
}
.button {
  
  background-color:black;
  border: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 50px;
  font-size: 30px;
}
.login-button:hover {
  background-color: #30252f;
}
